-# encoding: utf-8

%table
  %thead
    %tr
      %th Forename
      %th Surname
      %th Super power

  %tbody
    %tr
      %td Karl
      %td Marx
      %td Has a lovely beard

    %tr
      %td Vladimir
      %td Lenin
      %td Leads the proletarian revolution from Switzerland

    %tr
      %td Fidel
      %td Castro
      %td Lived longer than Methuselah

