-# coding: utf-8

.l-container-narrow
  .l-content
    %article.profile-form
      %h1.profile-form-header= t('.heading')
      %hr

      = render(partial: 'form', locals: { service_offering: @service_offering, action: 'edit' })

