%section.text-center
  %h1 Boussole des droits

  %h3 Accède au conseil garanti d'un·e professionnel·le, près de chez toi, pour t'aider dans tes projets de formation, de logement, d'activité et de santé

%section.text-center
  = link_to('Commencer !', new_project_path, class: 'submit')
