-# coding: utf-8

.logo-beta-inverse
  = link_to('Bêta', "https://github.com/sgmap/boussole/tree/#{REVISION}")

.alert-info
  .flash_info.text-center
    %strong Service expérimental.
    Ici l'État innove avec la société civile pour offrir aux usagers le service public de demain.

%nav.main-navbar-inverse{ role: 'navigation' }
  = render 'layouts/navigation'
