/* Global mixins go here */
@charset "UTF-8";

// Open Sans @font-face mixin
@mixin open-sans-font-face($font, $svgid, $weight: normal, $style: normal) {
  @font-face {
    font-family: "Open Sans";
    src: font-url('#{$open-sans-font-path}#{$font}/opensans-#{$font}-webfont.eot');
    src: font-url('#{$open-sans-font-path}#{$font}/opensans-#{$font}-webfont.eot?#iefix') format("embedded-opentype"),
      font-url('#{$open-sans-font-path}#{$font}/opensans-#{$font}-webfont.woff') format("woff"),
      font-url('#{$open-sans-font-path}#{$font}/opensans-#{$font}-webfont.ttf') format("truetype"),
      font-url('#{$open-sans-font-path}#{$font}/opensans-#{$font}-webfont.svg##{$svgid}') format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}
