@charset "UTF-8";

@mixin uniform-anchor {
  &:hover,
  &:link,
  &:active,
  &:visited {
    @content;
  }
}

.beta-logo {
  @extend .hidden-xs;
  @extend .hidden-sm;
  @extend .text-center;
  @include shadow();
  background-color: $brand-default-light;
  font-weight: bold;
  padding: .5em;
  position: absolute;
  right: -3em;
  text-transform: uppercase;
  top: 1em;
  transform: rotate(45deg);
  width: 200px;
  z-index: 10;

  &:hover {
    @include shadow2();
  }

  [role="link"] {
    @include uniform-anchor {
      color: $btn-primary-color;
      text-decoration: none;
    }
  }
}
