@charset "UTF-8";

/*
  Buttons!
  Styleguide 3.1.
 */

%is-enabled {
  @include shadow();

  &:hover,
  &:active,
  &:focus {
    @include shadow2();
  }
}

%is-disabled {
  @extend .disabled;
  background-color: $btn-disabled-bg;
  box-shadow: none;
  color: $btn-disabled-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $btn-disabled-bg;
    box-shadow: none;
  }

  &:focus {
    color: $btn-disabled-bg;
  }
}

%button {
  @extend .btn;
  @extend %is-enabled;
  font-size: $font-size-h5;
  padding: .5em;

  &.is-disabled,
  &:disabled,
  &[disabled] {
    @extend %is-disabled;
  }
}

.button-default {
  @extend %button;
  @extend .btn-default;
}

.button-primary {
  @extend %button;
  @extend .btn-primary;
}

.button-success {
  @extend %button;
  @extend .btn-success;
}

.button-info {
  @extend %button;
  @extend .btn-info;
}

.button-warning {
  @extend %button;
  @extend .btn-warning;
}

.button-danger {
  @extend %button;
  @extend .btn-danger;
}
