@charset "UTF-8";

/*
  Buttons!
  Styleguide 3.1.
 */

%is-disabled {
  @extend .disabled;
  background-color: $black-alpha-12;
  box-shadow: none;
  color: $black-alpha-26;

  &:hover,
  &:active,
  &:focus {
    background-color: $black-alpha-12;
    box-shadow: none;
  }

  &:focus {
    color: $black-alpha-12;
  }
}

%button {
  @extend .btn;
  @include shadow();
  font-size: $font-size-h5;

  &:hover {
    @include shadow2();
  }

  &.is-disabled,
  &:disabled,
  &[disabled] {
    @extend %is-disabled;
  }
}

.button-default {
  @extend %button;
  @extend .btn-default;
}

.button-primary {
  @extend %button;
  @extend .btn-primary;
}

.button-success {
  @extend %button;
  @extend .btn-success;
}

.button-info {
  @extend %button;
  @extend .btn-info;
}

.button-warning {
  @extend %button;
  @extend .btn-warning;
}

.button-danger {
  @extend %button;
  @extend .btn-danger;
}
