@charset "UTF-8";

// A card
// Styleguide 3.1.

.card {
  @include shadow();
  background-color: $body-bg;
  display: inline-block;
  padding: 1em 1em 2em;
  position: relative;
  width: 100%;
}

.card-badge {
  @extend .text-center;
  background-color: $brand-info;
  border-radius: 1em;
  display: block;
  height: 2em;
  line-height: 2;
  margin: -2em 0 0 -2em;
  width: 2em;
}

.card-image {
  margin-bottom: 1em;

  img {
    height: 50%;
    width: 50%;
  }

}

.card-header {
  font-size: $font-size-h4;
  padding: 0 1em;
}

.card-body {
  padding: 0 2em;
}

.card-body-element {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
