@charset "UTF-8";

// A card
// Styleguide 3.1.

.card {
  @include shadow();
  background-color: $body-bg;
  display: inline-block;
  padding: 1em 1em 2em;
  position: relative;
  width: 100%;
}

.card-header {
  @extend .text-center;
  font-size: $font-size-h4;
  padding: 0 1em;
}

.card-body {
  padding: 0 2em;
}

.card-body-element {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
