@charset "UTF-8";

.profile-header {
  font-size: $font-size-h4;
}

.profile-definition {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.profile-actions {
  @extend .text-center;

  [role="button"],
  [role="link"] {
    margin-left: .25em;
    margin-right: .25em;
    min-width: 6em;
  }
}
