@charset "UTF-8";

.result {
  @extend .col-md-4;
  margin-top: 1.5em;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.result-card {
  background-color: transparentize($gray-light, .75);
  border: transparentize($brand-primary, .75) solid .1em;
  padding-left: 1em;
  padding-right: 1em;

  &:hover {
    border: transparentize($brand-primary, 1) solid .1em;
    box-shadow: 0 0 .2em .1em $brand-primary;
  }
}

.result-header {
  font-size: $font-size-h4 / 2;
  height: 10em;

  h1 {
    font-size: $font-size-h2;
  }

  p {
    text-transform: uppercase;
  }
}

.result-footer {
  font-size: $font-size-h6;

  a {
    color: $btn-default-color;
    margin-bottom: 1.5em;
    width: 100%;
  }
}
