@charset "UTF-8";

.result {
  @extend .col-md-4;
  margin-top: 1em;

  [role="link"] {
    color: $text-color-dark-primary;
    text-decoration: none;
  }
}

.result-card {
  @include shadow();
  padding: .5em 1em;

  &:hover {
    @include shadow2();
  }
}

.result-header {
  font-size: $font-size-h4 / 2;
  height: 10em;

  h1 {
    font-size: $font-size-h2;
  }

  p {
    text-transform: uppercase;
  }
}

.result-footer {
  font-size: $font-size-h6;

  [role="link"] {
    color: $btn-primary-color;
    margin-bottom: 1.5em;
    width: 100%;
  }
}
