@charset "UTF-8";

/*
  A showcase proun, like a big telly init?
  Styleguide 3.4.
 */

.showcase {
  @include shadow();
  background-color: $gray-lighter;
  display: inline-block;
  margin-bottom: 1em;
  padding: 2em;
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }
}
