@charset "UTF-8";

// A showcase block, usefull for catchy stuff
// Styleguide 3.3.

.showcase {
  @include shadow();
  border: transparentize($gray-dark, .85) 1px solid;
  background-color: $gray;
  display: inline-block;
  margin-bottom: 1em;
  padding: 2em;
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }
}
