/* Site layout styles go here */
@charset "UTF-8";

header {
  font-size: 1.5rem;
}

main {
  @extend .container;
  margin-top: 100px; // accommodate the navbar
  padding-bottom: 80px;
  width: 75%;
}

section {
  @extend .row;
  margin-top: 20px;

  .thumbnail {
    .caption {
      height: 75px;
    }
  }
}

footer {
  font-size: .75rem;
}
