-# coding: utf-8

.l-container-narrow
  .l-content
    %section.wizard-form
      %h1.wizard-form-header Quelle phrase décrit le mieux mon besoin ?
      %hr

      = simple_form_for(@project, url: wizard_path, method: :put, wrapper: :vertical_form) do |f|
        = f.error_notification

        = f.input_field :awareness, collection: AWARENESSES,
                                    label_method: :to_s,
                                    value_method: :to_s,
                                    as: :radio_buttons

        = f.button :submit, 'Continuer', class: 'button-primary'
