-# coding: utf-8

%section.showcase
  %p
    = t 'views.result.contact.description_html',
        response_time: distance_of_time_in_words(service_offering.response_time_upper_bound.days)

  = simple_form_for([project, service_offering, contact], wrapper: :vertical_form) do |f|
    = f.input :email_or_phone
    = f.submit(t('views.landing.cta'), class: 'button-primary', role: 'button')
