-# coding: utf-8

%nav.navigation{ role: 'navigation' }
  .l-container-wide
    .navigation-header
      - unless request.fullpath == root_path
        .navigation-toggle
          %button{ type: 'button', data: { target: '.navigation-body', toggle: 'collapse' } }
            %span.sr-only Basculer la barre de navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      = link_to 'boussole.beta.gouv.fr', root_path

    .navigation-body
      = render 'blocks/navigation_links'
