-# encoding: utf-8

%div{ style: 'display: block;' }
  %button.button-default{ style: 'width: 12.5%;' }
    Default

  %button.button-primary{ style: 'width: 12.5%;' }
    Primary

  %button.button-success{ style: 'width: 12.5%;' }
    Success

  %button.button-info{ style: 'width: 12.5%;' }
    Info

  %button.button-warning{ style: 'width: 12.5%;' }
    Warning

  %button.btn.button-danger{ style: 'width: 12.5%;' }
    Danger

  %button.button-default.is-disabled{ style: 'width: 12.5%;' }
    Disabled
