-# encoding: utf-8

%div{ style: 'display: block;' }
  %button.button-default{ role: 'button', style: 'width: 12.5%;' }
    Default

  %button.button-primary{ role: 'button', style: 'width: 12.5%;' }
    Primary

  %button.button-success{ role: 'button', style: 'width: 12.5%;' }
    Success

  %button.button-info{ role: 'button', style: 'width: 12.5%;' }
    Info

  %button.button-warning{ role: 'button', style: 'width: 12.5%;' }
    Warning

  %button.btn.button-danger{ role: 'button', style: 'width: 12.5%;' }
    Danger

  %button.button-default.is-disabled{ role: 'button', style: 'width: 12.5%;' }
    Disabled
