-# encoding: utf-8

:ruby
  public_service             = PublicService.new
  public_service.title       = 'Pôle Emploi'
  public_service.url         = 'pole-emploi.fr'
  public_service.description = 'Trouver un boulot grâce à La Bonne Boîte !'

= render(partial: 'blocks/public_service', locals: { public_service: public_service })
