-# encoding: utf-8

%nav{ role: 'navigation' }
  .l-container-wide
    .navigation-header
      = link_to 'Communism', '#'

    .navigation-body
      %section.navigation-links
        %ul
          %li{ class: 'is-active' }
            %a{ href: '#' } Marx

          %li
            %a{ href: '#' } Lenin

          %li.disabled
            %a{ href: '#' } Fidel
