development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: boussole_development
  pool:     5
  username:
  password:
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: boussole_test
  pool:     5
  username:
  password:
  template: template0

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: boussole_production
  pool:     5
  username:
  password:
  template: template0
