-# coding: utf-8

.wizard-form-actions
  = link_to(previous_wizard_path, class: 'button-default', role: 'link') do
    %i.icon-back{ aria: { hidden: true } }
    Corriger

  = button_tag(type: 'submit', name: 'commit', class: 'button-default', role: 'button') do
    Continuer
    %i.icon-next{ aria: { hidden: true } }
