-# coding: utf-8

.wizard-form-actions
  = link_to(previous_wizard_path, class: 'button-primary', role: 'link') do
    %i.fa.fa-arrow-circle-left{ aria: { hidden: true } }
    Corriger

  = button_tag(type: 'submit', name: 'commit', class: 'button-success', role: 'button') do
    Resultats
    %i.fa.fa-arrow-circle-right{ aria: { hidden: true } }
