// import the CSS framework
@import 'bootsketch/assets/sass/bootsketch';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.main-navbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  font-size: inherit;

  .logo-beta {
    background-color: $gray-darker;
    color: $gray-lighter;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    right: -53px;
    text-align: center;
    text-transform: uppercase;
    top: 26px;
    transform: rotate(45deg);
    width: 200px;
    z-index: 10;
  }
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  // background-color: #eee;
  margin-top: 100px; // accommodate the navbar
  padding-bottom: 80px;
  width: 75%;
}

section {
  @extend .row;
  margin-top: 20px;

  .thumbnail {
    .caption {
      height: 75px;
    }
  }
}
