/* Base site styles go here */
@charset "UTF-8";

html {
  font-size: $font-size-base-xs;
  overflow-x: hidden;

  @media (max-width: $screen-sm-min) {
    overflow-x: scroll;
  }

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-base-sm;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-base-md;
  }

  @media (min-width: $screen-lg-min) {
    font-size: $font-size-base-lg;
  }
}

body {
  @extend .container-fluid;
  padding-left: 0;
  padding-right: 0;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

table {
  @extend .table;
  @extend .table-hover;
  @extend .table-striped;
  @extend .table-responsive;

  * {
    border: 0;
  }
}

h1 {
  @extend .text-center;
  font-weight: $headings-font-weight * 2;
}

hr {
  background: image-url("divider.png") 50% 0 no-repeat;
  border: 0;
  height: 1em;
  margin: 1em 0;
}

@include font-awesome-font-face();
