/* Site layout styles go here */
@charset "UTF-8";

header {
  font-size: 1rem;
}

main {
  @extend .row;
  font-size: 1rem;
}

.l-messages {
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
}

.l-container-wide {
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
}

.l-container-narrow {
  @extend .col-lg-4;
  @extend .col-lg-offset-4;
  @extend .col-md-6;
  @extend .col-md-offset-3;
  @extend .col-md-6;
  @extend .col-md-offset-3;
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
  @include shadow();
  background-color: $gray-lighter;
}

.l-content {
  @extend .col-md-12;
  // @include shadow();
  // background-color: $gray-lightest;
  padding: 2em;

  &.l-with-sidebar {
    @extend .col-md-8;
  }
}

.l-sidebar {
  @extend .col-md-4;
}

footer {
  font-size: .75rem;
  min-height: 2rem;
}
