/* Stuff you're not sure where to put and to be get rid of soon */

// TODO: This one's from the results page. Rework ASAP.
.contact {
  @extend .jumbotron;

  h2 {
    font-size: $font-size-h3;
    margin-top: 0;
  }

  p {
    font-size: $font-size-h5;
  }

  input {
    margin-bottom: 1em;
    width: 100%;
  }

  a {
    width: 100%;
  }
}
