-# coding: utf-8

%section.beta-logo
  = link_to('Bêta', "https://github.com/sgmap/boussole/tree/#{REVISION}")

%section.beta-info
  %strong Service expérimental.
  Ici l'État innove avec la société civile pour offrir aux usagers le service public de demain.

= render 'blocks/navigation'
