-# coding: utf-8

%nav.navigation{ role: 'navigation' }
  .l-content-wide
    .navigation-header
      - if request.fullpath =~ %r{/agents}
        .navigation-toggle
          %button{ type: 'button', data: { target: '.navigation-body', toggle: 'collapse' } }
            %span.sr-only Basculer la barre de navigation
            %span.fa.fa-navicon
      = link_to 'boussole.gouv.fr', root_path

    - if request.fullpath =~ %r{/agents}
      .navigation-body
        = render 'layouts/navigation_links'
