-# coding: utf-8

%ul.navigation-links
  %li.is-active
    %a{ href: "#" }
      Acteurs
      %span.sr-only (active)

  %li
    %a{ href: "#" } Offres de Service

  %li
    %a{ href: "#" } Dispositifs
