-# coding: utf-8

%nav.navigation{ role: 'navigation' }
  .container
    .navigation-header
      - if request.env['PATH_INFO'] =~ %r{/agents}
        %button{ type: 'button', data: { target: '.navigation-body', toggle: 'collapse' } }
          %span.sr-only Basculer la barre de navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      = link_to 'boussole.gouv.fr', root_path, class: 'navbar-brand'

    - if request.env['PATH_INFO'] =~ %r{/agents}
      .navigation-body
        = render 'layouts/navigation_links'
