-# coding: utf-8

.container
  .navbar-header
    -# %button.navbar-toggle{ type: 'button', data: { target: '.navbar-collapse', toggle: 'collapse' } }
    -#   %span.sr-only Basculer la barre de navigation
    -#   %span.icon-bar
    -#   %span.icon-bar
    -#   %span.icon-bar
    = link_to 'Accueil', root_path, class: 'navbar-brand'
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      = render 'layouts/navigation_links'
