-# coding: utf-8

%meta{ name: 'twitter:card', content: 'summary' }
%meta{ name: 'twitter:site:id', content: '' }
%meta{ name: 'twitter:title', content: t('layouts.application.title') }
%meta{ name: 'twitter:description', content: t('layouts.application.description') }
%meta{ name: 'twitter:image', content: image_url('boussole') }
